
                .popover{background:#ffe6e8!important}
.product-images>li.thumb-container>.thumb.selected, .product-images>li.thumb-container>.thumb:hover{border: 3px solid !important;}
.dropdown .expand-more, #header .header-nav .currency-selector{color: #1d0085!important}
/*buton*/

#header .header-nav{background:#96fffd!important}
#header .header-nav a,#header .header-nav span{color:#1d0085!important}
h1, .h1{    color: !important;
}
h3 a{    color: #2ef9ff!important;
}
.dropdown-item{    color: #168bff!important;
}
h2, .h2{    color: #2298ff!important;
}
p{    color: #a7ff6a!important;
}
h3,h4,.h3, .h4{    color: #fff0b6!important;
}
.product-customization, .blockreassurance_product p {color: #86ff9d!important;}

.btn-primary {
    color: !important;
    background-color: !important;
}
.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary:disabled.focus, .btn-primary:disabled:focus, .btn-primary:disabled:hover {
    background-color: !important;
    border-color: transparent;
}
.btn-primary.focus, .btn-primary:focus, .btn-primary:hover,.tag-primary[href]:focus, .tag-primary[href]:hover  { background-color: !important;}

.btn-outline-primary.active, .btn-outline-primary.focus, .btn-outline-primary:active, .btn-outline-primary:focus, .btn-outline-primary:hover, .open>.btn-outline-primary.dropdown-toggle {
    color: !important;
    background-color: !important;
    border-color: #2fb5d2;
}
.dropdown-item.active, .dropdown-item.active:focus, .dropdown-item.active:hover {
    color: !important;
    text-decoration: none;
    background-color: !important;
    outline: 0;
}
.nav-pills .nav-item.open .nav-link, .nav-pills .nav-item.open .nav-link:focus, .nav-pills .nav-item.open .nav-link:hover, .nav-pills .nav-link.active, .nav-pills .nav-link.active:focus, .nav-pills .nav-link.active:hover {
    color: !important;
    cursor: default;
    background-color: !important;
}
.card-primary {
    background-color: !important;
    border-color: #2fb5d2;
}
.page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover {
    z-index: 2;
    color: !important;
    cursor: default;
    background-color: !important;
    border-color: #2fb5d2;
}
.tag-primary {
    background-color: !important;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: !important;
    text-decoration: none;
    background-color: !important;
    border-color: #2fb5d2;
}
.custom-radio input[type=radio]:checked+span {
    background-color: !important;

}
.block-social li:hover {
    background-color: !important;
}
.tabs .nav-tabs .nav-link.active, .tabs .nav-tabs .nav-link:hover {
    border: none;
    border-bottom: 3px solid !important;
}
.tabs .nav-tabs .nav-link.active {
    color: !important;
}
a {
    color: #959100!important;
    text-decoration: none;
}
.footer-container li a,.block-contact a, #footer a{
    color: #ffc6cf!important;
    text-decoration: none;
}
#footer .h1,#footer .h2,#footer .h3, .block-contact .h4, #block_myaccount_infos .myaccount-title a,#block_myaccount_infos .h3{
    color: #c8aeff!important;
    text-decoration: none;
}

#header .header-nav .cart-preview.active {
    background: #aa06ff!important;
}
#header .header-nav .blockcart{
    background: #aa06ff!important;

}
/*prices*/
.product-price, .cart-summary-line .value,#products .product-price-and-shipping, .featured-products .product-price-and-shipping, .product-accessories .product-price-and-shipping, .product-miniature .product-price-and-shipping{
 color: #8aff86!important;
	}
/*wrapper*/
#wrapper,.product-customization .product-message,.search-widget form input[type=text], .block_newsletter form input[type=text] {
    background-color: #959100!important;

}
#wrapper{
    background-color: #959100!important;
    

    background-repeat:repeat!important;
}
.tag-default {
    background: #959100!important;
}
.bootstrap-touchspin .btn-touchspin:hover {
    background-color: #959100!important;
}
body#checkout .modal-content {
    background-color: #959100!important;
}
.block-social li:hover {
    background-color: #959100!important;
}
#footer {
    background-color: #959100!important;
}
#header {
    background: #959100!important;
}
/*blocks*/
#search_filters, #search_filters_brands, #search_filters_suppliers, .block-categories, .card{
	  background: !important;
	}
#products .product-description, .featured-products .product-description, .product-accessories .product-description, .product-miniature .product-description, #products .thumbnail-container, .featured-products .thumbnail-container, .product-accessories .thumbnail-container, .product-miniature .thumbnail-container
{
	    background: #959100!important;
}
#header .header-nav .cart-preview.active i, #header .header-nav .cart-preview.active a{color:#959100!important}
.block-social  li{background:#5eff8c!important;}
.facebook.icon-gray,.twitter.icon-gray,.googleplus.icon-gray,.pinterest.icon-gray {
    background-color:  #ff82c5!important;
}
.header-top .search-widget form input[type=text] {
    min-width: inherit;
    width: 100%;background:white!important;
}
#wrapper .container{background-color: #959100}
@media (max-width: 767px){
#header.is-open, #header.is-open .header-top {
    background: #aa06ff!important;
}
}

	